.typelist-container{
    width: 100%;
}
.typelist-list{
    width: 300px;
    float: left;
    height: 1000px;
}
.typelist-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.typelist-list ul li{
    display: block;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    line-height: 1;
    margin: 0;
    line-height: 1.5;
    padding-left: 20px;
    color: #666;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 0 10px 40px;
    display: block;
    font-weight: 200;
    cursor: pointer;
}
.typelist-list ul li.on{
    background-color: #E4E7ED;
}
.typelist-list ul li:hover{
    background-color: #E4E7ED;
}
.typelist-content{
    max-width: 800px;
    padding: 0 25px;
    margin: 100px auto 1.75em auto;
    line-height: 2.0em;
    position: relative;
    background-color: #fff;
    color: #222;
}
.typelist-content-update{
    height: 40px;
}
.typelist-content-update button{
    float: right;
    margin-right:10px;
}
.typelist-clear{
    clear: both;
}
.typelist-title-name{
    padding: 12.5px 20px;
    height: 60px;
    box-sizing: border-box;
    background-color: #407afc;
    color: #fff;
    margin: 0;
    font-size: 1.7rem;
    line-height: 0.8;
    letter-spacing: 0;
    font-weight: 600;
    text-indent: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    flex-direction: row;
}
.typelist-container-menu{
    background-color: #f5f5f5;
    width: 300px;
    right: auto;
    bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}
.typelist-input{
    position: relative;
}
#typelist-search{
    -webkit-appearance: none;
    display: block;
    margin: 0;
    padding: 15px 20px 15px 79px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8;
}
.search-input-icon{
    position: absolute;
    top: 17px;
    left: 15px;

}
.open-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.open-nav {
    background-image: url(../images/menu.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35px;
    height: 35px;
    border: 0;
    position: absolute;
    top: 12.5px;
    right: 20px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    color: inherit;
    font: inherit;
    margin: 0;
}
.open-nav{
    display: none;
}