.typelist-container{
    width: 100%;
}
.typelist-list{
    width: 300px;
    float: left;
    height: 1000px;
}
.typelist-list ul{
    list-style: none;
}
.typelist-list ul li{
    padding-bottom: 15px;
    cursor: pointer;
}
.typelist-content{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 32px;
    line-height: 1.6em;
}
.typelist-clear{
    clear: both;
}